on: [push]
name: Build and deploy to 'Github Pages'

jobs:
    build-and-upload-to-artifacts:
        name: Build and upload to 'Artifacts'
        runs-on: [ubuntu-latest]

        steps:
            - uses: actions/checkout@v6
              name: Checkout repository

            - uses: oven-sh/setup-bun@v2
              name: Setup 'bun'

            - run: bun install
              name: Install dependencies

            - run: bun run build
              name: Build

            - uses: actions/upload-pages-artifact@v4
              name: Upload to 'Artifacts'
              with:
                  path: "dist"
                  retention-days: 30

    deploy-to-gh-pages:
        name: Deploy to 'Github Pages'
        runs-on: [ubuntu-latest]
        needs: build-and-upload-to-artifacts
        permissions:
            pages: write
            id-token: write

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            - uses: actions/deploy-pages@v4
              id: deployment
              name: Deploy to 'Github Pages'
