on: [push]
name: Build and deploy to 'Cloudflare Pages'

jobs:
    build-and-deploy-to-cf-pages:
        name: Build and deploy to 'Cloudflare Pages'
        runs-on: [ubuntu-latest]

        steps:
            - uses: actions/checkout@v6
              name: Checkout repository

            - uses: oven-sh/setup-bun@v2
              name: Setup 'bun'

            - run: bun install
              name: Install dependencies

            - run: bun run build
              name: Build

            - run: bun install wrangler
              name: Install wrangler

            - run: bunx wrangler
              name: Deploy to 'Cloudflare Pages'
              env:
                  CLOUDFLARE_API_TOKEN: ${{ secrets.ROMEOSARKAR10X_CLOUDFLARE_API_TOKEN }}
